
.foto-usario{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.foto-usario img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    z-index: 2;
}

.links-principal{
    display: flex;
    justify-items: center;
    height: 40px;
    gap: 40px;
}
.user-container-text{
    display: block;
    justify-items: center;
    margin: auto;
}
.user-container-text span{
    display: flex;
    justify-content: center;
    color: var(--color-primary-2);
    padding: 10px;
}

.links-principal{
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    padding: 15px;
    border-radius: 100%;
    background: #737F72;
    color: #545D53;
}
