.user-container{
    background-color: #545D53;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 370px;
    height: 450px;
    border-radius: 30px 0px 0px 30px;
}
.foto-usario{
    /* background-color: var(--color-primary-3);  */
    /* width: 220px;
    height: 220px; */
    /* margin: 10px auto; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    /* box-shadow: 0px 10px 10px 0px rgba(188, 175, 175, 0.7); */
}
.foto-usario img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    z-index: 2;
}

.links-principal{
    display: flex;
    justify-items: center;
    height: 40px;
    gap: 40px;
}
.user-container-text{
    display: block;
    justify-items: center;
    margin: auto;
}
.user-container-text span{
    display: flex;
    justify-content: center;
    color: var(--color-primary-4);
}

.links-principal{
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    padding: 15px;
    border-radius: 100%;
    background: #737F72;
    color: #545D53;
}
